<%= render "shared/third-header" %>
<div class="post-show-wrap">
  <div class="contact-wrap">

    <div class="contact-thanks-text">
      お問い合わせありがとうございました。<br>後日ご入力頂いたメールアドレスにお返事させて頂きます。
    </div>

  </div>
</div>

<%= render "shared/second-footer" %>