<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.nickname %>様</p>
    
      <p>いつもご利用ありがとうございます。</p>
      <p>カレンダーに以下の予定が作成された時間となりました。ご確認ください。</p>

    <p><strong>投稿タイトル：</strong> <%= @blog.blog_title %></p>
    <p><strong>投稿内容：</strong> <%= @blog.blog_text %></p>
    <p><strong>通知日時：</strong> <%= @blog.start_time.strftime("%-m/%-d %H:%M") %></p>
    <p>
      <p>引き続き当サイトをお楽しみください！</p>

      <p>Sunflower-Garden 管理者:Katsuya53<BR>
         https://sunflower-garden.jp/</p>

    </p>
  </body>
</html>