.guide-toppage {
  text-align: center;
  margin: auto;
  background-color: antiquewhite;
  width: 90%;
}

.guide-title {
  padding: 20px 0;
}

.guide-wrap {
  font-size: 20px;
  padding: 20px;
  text-align:left
}

.guide-sub {
  font-size: 25px;
  color:red;
}

.guide-sub2 {
  font-size: 25px;
  color:green;
}

.guide-sub3 {
  font-size: 25px;
  color: blue;
}

/* 幅狭小表示時 */
@media (max-width: 770px) {
  .guide-toppage {
    width: 95%;
  }

  .guide-wrap {
    font-size: 15px;
  }

  .guide-sub, .guide-sub2, .guide-sub3 {
    font-size: 18px;
  }
}
