.guide-toppage {
  text-align: center;
  margin: auto;
  background-color: antiquewhite;
  width: 90%;
}

.guide-title {
  padding: 20px 0;
}

.guide-pre-text {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 15px;
}

.guide-text {
  padding-left: 15px;
  margin-bottom: 15px;
}

.guide-text-blue {
  margin-top: 15px;
  color: blue;
}

.guide-sub-text {
  padding-left: 30px;
}

.guide-wrap {
  font-size: 20px;
  padding: 20px;
  text-align:left
}

.guide-menu-wrap {
  display: flex;
  justify-content:center;
}

.guide-menu-select-text {
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}

.guide-menu-pc, .guide-menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.guide-menu-pc .guide-pc-btn-img, .guide-menu-mobile .guide-mobile-btn-img {
  display: block;
  margin: 0 auto;
  height: 250px;
}

.guide-menu-text-pc {
  font-size: 25px;
  color:blue;
}

.guide-menu-text-mobile {
  font-size: 25px;
  color:red;
}

.guide-sub {
  margin-top: 20px;
  font-size: 25px;
  color:blue;
}

.guide-sub2 {
  margin-top: 40px;
  font-size: 25px;
  color:green;
}

.guide-sub3 {
  margin-top: 20px;
  font-size: 25px;
  color: blue;
}

.guide-item .guide-title {
  cursor: pointer;
  font-size: 22px;
  color: blue;
  text-decoration: underline;
  transition: font-size 0.3s ease;
}

.guide-item .guide-title:hover {
  font-size: 30px;
}

.guide-item .content p {
  margin: 5px 0;
}

.guide-menu-wrap img {
  transition: transform 0.3s ease;
}

.guide-menu-wrap img:hover {
  transform: scale(1.15);
}

.guide-icon-img {
  width: 300px;
}

.close-button-container {
  text-align: center;
  margin-top: 10px;
}

.close-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
}

.close-button:hover {
  background-color: #e0e0e0;
}


/* 幅狭小表示時 */
@media (max-width: 770px) {
  .guide-toppage {
    width: 95%;
  }

  .guide-wrap {
    font-size: 15px;
  }

  .guide-sub, .guide-sub2, .guide-sub3 {
    font-size: 18px;
  }

  .guide-menu-select-text {
    font-size: 18px;
  }

  .guide-menu-pc .guide-pc-btn-img, .guide-menu-mobile .guide-mobile-btn-img {
    height: 150px;
  }

  .guide-menu-text-mobile, .guide-menu-text-pc {
    font-size: 18px;
  }
}

/* スマホ表示時 */
@media (max-width: 490px) {

  .guide-icon-img {
    width: 200px;
  }

  .guide-menu-pc .guide-pc-btn-img, .guide-menu-mobile .guide-mobile-btn-img {
    height: 100px;
  }

  .guide-menu-text-mobile, .guide-menu-text-pc {
    font-size: 15px;
  }

  .guide-item .guide-title {
    font-size: 16px;
  }
  
  .guide-item .guide-title:hover {
    font-size: 20px;
  }
}
