.weather-toppage {
  text-align: center;
  margin: auto;
  background-color: antiquewhite;
  width: 80%;
}

.weather-title {
  padding: 20px 0;
}

.weather-wrap {
  font-size: 20px;
  padding: 20px;
}

.weather-icon {
  text-align: center;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
