.footer {
  width: 100vw;
  height: 120px;
  padding: 15px 0;
  color: #FFF;
  font-size: 20px;
  background-color:seagreen;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
 
}

.footer-link {
  color: #FFF;
  font-size: 22px;
}

/* スマホ表示時 */
@media (max-width: 490px) {

  .footer {
    padding: 10px 0;
    font-size: 10px;
    height: 70px;
  }
}