
/* //下部広告部分 */

.footer {
  width: 100vw;
  height: 150px;
  padding: 30px 0;
  color: #FFF;
  font-size: 20px;
  background-color:forestgreen;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-link {
  color: #FFF;
}