.header-sunflower-img {
  width : 100vw;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-bar-left {
  width: calc(70%);
  height: 50px;
  background-color:seagreen;
  color: white;
  display: flex;
  align-items: center;
}

.header-bar-right {
  width: calc(30%);
  height: 50px;
  background-color:seagreen;
  font-size: 20px;
  display: flex;
  justify-content:space-around;
}

.user-link {
 color: white;
 font-size: 20px;
 display: flex;
 align-items: center;
}

.logout {
 color: white;
}

.login {
  color: white;
}

.log-in-box {
  justify-content: left;
}

.sign-up {
  color: white;
  margin-left: 50px;
}

.search-form {
  width: 300px;
  height: 35px;
  display: flex;
  margin-left: 70px;
}

.search-form>.input-box {
  width: 100%;
  height: 35px;
  padding-left: 10px;
}

.search-button {
  width: 35px;
  border: 0;
  cursor: pointer;
  background-color:darkgreen;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.search-text {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}


/* タブレット表示時 */
@media (max-width: 1024px) {

  .user-link {
    font-size: 19px;
   }

   .sign-up {
    margin-left: 30px;
  }
}


/* 幅狭小表示時 */
@media (max-width: 770px) {

  .header-bar-left {
    height: 30px;
  }

  .header-bar-right {
    height: 30px;
  }

 .search-form {
   width: 200px;
   height: 20px;
   display: flex;
   margin-left: 30px;
  }

 .search-form>.input-box {
   width: 100%;
   height: 20px;
   padding-left: 10px;
  }

  .search-button {
    width: 30px;
  }
  
  .search-text {
    color: white;
    font-size: 15px;
    margin-left: 10px;
  }

  .user-link {
    font-size: 15px;
  }

  .sign-up {
    margin-left: 20px;
  }
}


/* スマホ表示時 */
@media (max-width: 490px) {

  .header-bar-left {
    height: 20px;
  }

  .header-bar-right {
    height: 20px;
  }
  
  .search-form {
    width: 200px;
    height: 16px;
    display: flex;
    margin-left: 5px;
  }
  
  .search-form>.input-box {
    width: 100%;
    height: 16px;
    font-size: 12px;
    padding-left: 10px;
  }
  
  .search-button {
    width: 25px;
  }
  
  .search-text {
    color: white;
    font-size: 12px;
    margin-left: 10px;
  }
  
  .user-link {
    font-size: 10px;
  }
  
  .sign-up {
    margin-left: 10px;
  }
}


/* 最小スマホ表示時 */
@media (max-width: 370px) {

  .header-bar-left {
    height: 20px;
  }
  
  .header-bar-right {
    height: 20px;
  }
  
  .search-form {
    width: 150px;
    height: 15px;
    display: flex;
    margin-left: 5px;
  }
  
  .search-form>.input-box {
    width: 100%;
    height: 15px;
  }
  
  .search-button {
    width: 22px;
  }
  
  .search-text {
    font-size: 10px;
    margin-left: 8px;
  }
  
  .user-link {
    font-size: 8px;
  }
  
  .sign-up {
    margin-left: 10px;
    margin-right: 10px;
  }
}