.user-area {
  display: flex;
  margin-top: 20px;
}

.user-icon-area {
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon-img {
  width: 80%;
  height: 80%;
  margin-left: 50px;
}

.user-wrapper {
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: 30px; 
}

.user-name {
  margin-bottom: 10px;
  text-align: center;
}

.user-mypage-link {
  text-align: center;
  color: black;
}

.menu-title {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 40px;
  text-align: center;
  color: seagreen;;
  font-family:Arial Black;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu-item {
  width: 70%;
  margin-bottom: 15px;
}


/* タブレット表示時 */
@media (max-width: 1024px) {
  .user-wrapper {
    font-size: 20px; 
  }

}


/* 幅狭小表示時 */
@media (max-width: 770px) {

  .user-area {
    display: flex;
    margin-top: 20px;
  }
  
  .user-icon-area {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-icon-img {
    width: 80%;
    height: 80%;
    margin-left: 20px;
  }
  
  .user-wrapper {
    width: 70%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    font-size: 15px; 
  }
  
  .user-name {
    margin-bottom: 5px;
    text-align: center;
  }
  
  .user-mypage-link {
    text-align: center;
    color: black;
  }
  
  .menu-title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
    color: seagreen;;
    font-family:Arial Black;
  }
  

}


/* スマホ表示時 */
@media (max-width: 490px) {
  .user-wrapper {
    font-size: 10px; 
  }

}


/* 最小スマホ表示時 */
@media (max-width: 370px) {
  .user-wrapper {
    font-size: 8px; 
  }

  .menu-title {
    margin-top: 3px;
  }
}