<div class='footer'>
  <div class='footer-contents'>
    <%= link_to 'トップへ戻る', root_path, class: "footer-link", style: "margin-right: 20px;" %>
    <%= link_to 'お問い合わせ', "#", class: "footer-link" %>
  </div>
  <p>Copyright© Katsuya53 All Rights Reserved</p>
</div>