.what-flower-toppage {
  text-align: center;
  margin: auto;
  background-color: antiquewhite;
  width: 80%;
}

.what-flower-title {
  padding: 20px 0;
}


.what-flower-wrap {
font-size: 20px;
padding: 20px;
}

.flower-sample-image {
  margin: auto;
}

.what-flower-name {
font-size: 25px;
color: darkgreen;
padding: 20px;
font-weight: bold;
}

.what-flower-content {
margin-top: 20px;
}

.what-flower-search {
  display: flex;
  justify-self: center;
 justify-content: center;
}

.what-flower-submit-btn {
  background: #007bff;
  width: 100px;
  height: 40px;
  margin-left: 10px; /* ボタンの左側の余白を追加 */
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}



@media (max-width: 770px) {
  .what-flower-wrap {
    display: flex;
    flex-direction: column; /* 画面が狭い場合、上下に要素を配置 */
  }
  
  .what-flower-title {
    font-size: 4vw;
    margin-bottom: 10px;
  }

  .what-flower-notice {
    text-align: center;
    font-size: 15px;
    color:darkgreen;
    margin-bottom: 10px;
  }

}