.blog-toppage {
  text-align: center;
  margin: 20px;
}

h1 {
  color: #333;
}

.blog-notice {
  text-align: center;
  font-size: 20px;
  color:darkgreen;
  margin-bottom: 10px;
}

.blog-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.blog-input-area {
  flex-basis: 20%; /* カレンダーの横幅を  %にする */
}

.blog-view-area {
  flex-basis: 80%; /* 予定一覧の横幅を  %にする */
  background-color:white;
  padding: 20px;
  border-radius: 5px;
  font-size: 2vw;
}

.blog-view-title {
  font-size: 1.5vw;
}

.blog-schedule {
  border: 1px solid black;
  background-color: #f8f9fa; 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.blog-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.blog-form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
}

.blog-form-title, .blog-form-text, .blog-form-time {
  margin-bottom: 20px;
}

.blog-form-tag {
  font-weight: bold;
}

.calendar-day {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.blog-submit-btn {
  background: #007bff;
  width: 150px;
  height: 40px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

a {
  color: #007bff;
}

.wday-0 {
  color: red;
}

.wday-6 {
   color: blue;
} 

.simple-calendar thead th {
  text-align: center;
  font-size: 3vw;
}


@media (max-width: 770px) {
  .blog-wrap {
    display: flex;
    flex-direction: column; /* 画面が狭い場合、上下に要素を配置 */
  }
  
  .blog-title {
    font-size: 4vw;
    margin-bottom: 10px;
  }

  .blog-view-title {
    font-size: 3vw;
  }

  .blog-view-area {
    font-size: 3vw;
    padding: 0px;
    order: 1;
    width: 100%; /* 幅を100%に設定 */
  }

  .blog-view-title {
    font-size: 2vw;
  }

  .blog-input-area {
    order: 2;
    width: 100%; /* 幅を100%に設定 */
    margin-top: 30px;
  }

  .blog-schedule {
    margin-top: 20px;
  }
  
  .blog-notice {
    text-align: center;
    font-size: 15px;
    color:darkgreen;
    margin-bottom: 10px;
  }

  .calendar-heading {
    font-size: 4vw;
  }

}

@media (max-width: 490px) {
 
  .blog-title {
    font-size: 5vw;
  }

  .calendar-heading {
    font-size: 5vw;
  }

  .table-striped {
    font-size: 4vw;
  }
}