<%= render "shared/second-header" %>

<div class="guide-toppage">
     <%= render "shared/side_bar_hidden" %>

  <h1 class="guide-title">操作説明</h1>

  <div class="guide-wrap">

<p class="guide-sub">
①会員登録、編集、削除<BR></p>
&nbsp1. TOPページの新規登録をクリックして必要な情報を登録すると、認証メールが届くので、クリックすると登録が完了します<BR>
&nbsp2. メールアドレスとパスワードでログインが可能です。<BR>
&nbsp3. 会員情報の変更や削除はメニュー上部のニックネームをクリックして編集画面から行えます。<BR>
<BR><p class="guide-sub">
②ログイン、ログアウト<BR></p>
&nbsp1. TOPページに閲覧者の状態によってログインとログアウトが表示されています。<BR>
&nbsp2. ログインしていなくて閲覧は可能ですが、ほとんどのメニューは利用できません。<BR>
<BR><p class="guide-sub">
③メニュー<BR></p>
・「みんなの投稿 新規投稿」<BR>
  &nbsp1. 新規投稿ボタンをクリックすると新規投稿フォームが表示されます。<BR>
  &nbsp2. 画像、タイトル、文章、タグを投稿することができます。<BR>
  &nbsp3. 投稿が完了するとトップページに表示されます。<BR>
<BR><p class="guide-sub">
・投稿編集、コメント<BR></p>
  &nbsp1. 投稿画像をクリックすると、詳細ページが表示され、投稿者の投稿であれば編集と削除ができます。<BR>
  &nbsp2. ログインしていれば、コメントを入力してコメントするボタンをクリックするとその投稿にコメントができます。<BR>
  &nbsp3. 詳細ページでは投稿者であればコメントを編集、削除ができます。<BR>
<BR><p class="guide-sub">
・いいね機能<BR></p>
  &nbsp1. TOPページや投稿詳細ページでいいねボタンを押すと赤色に画像が変わりカウントが増えます。<BR>
  &nbsp2. いいねを解除するには再度いいねボタンを押すとカウントが減ります。<BR>
<BR><p class="guide-sub">
・ユーザー詳細、編集、フォロー<BR></p>
  &nbsp1. サイドバーのメニューにあるログイン中のユーザー名をクリックするとユーザー詳細ページが表示されます。<BR>
  &nbsp2. 投稿詳細ページで投稿者のニックネームをクリックしてもそのユーザー詳細ページが表示されます。<BR>
  &nbsp3. ログイン中のユーザーであればユーザーの登録情報を編集できます。<BR>
  &nbsp4. 「フォローする」をクリックすると閲覧しているユーザーをフォローをしたり、解除ができます。<BR>
<BR><p class="guide-sub">
・「通知が届く マイカレンダー」<BR></p>
  &nbsp1. ログイン中であればメニューのカレンダーをクリックするとそのユーザーだけのカレンダーが表示されます。<BR>
  &nbsp2. 日時、タイトル、内容を入力して予定を作成でき、設定した時刻に登録されているアドレスにメールが届きます。<BR>
  &nbsp3. 「メール通知しない」にチェックすればメールは通知されません。<BR>
  &nbsp4. メールが着信する前であれば、予定の編集をすればメールの配信日時も再設定できます。<BR>
<BR><p class="guide-sub">
・「成長を記録 写真日記」<BR></p>
  &nbsp1. ログイン中であればメニューの写真日記をクリックするとそのユーザーだけの日記が表示されます。<BR>
  &nbsp2. 日時、写真、文章、カテゴリーを入力して投稿ができ、日時は過去未来自由に編集が可能です。<BR>
  &nbsp3. カテゴリーは新しく作成することができます。<BR>
  &nbsp4. カテゴリー別に日記を古いもの順に表示することができます。<BR>
<BR><p class="guide-sub">
・「今日は何の花の日？」<BR></p>
  &nbsp1. メニュー「何の花？」をクリックすると今日の花のページが表示されます。<BR>
  &nbsp2. 閲覧日の誕生花が表示され、もっと情報が知りたい場合は「詳しく調べる」リンクをクリックするとgoogle検索ページが表示されます<BR>
  &nbsp3. 閲覧日以外にも翌日や７日前までの花も調べることができます。<BR>
<BR><p class="guide-sub">
・「園芸日和 今日の天気」<BR></p>
  &nbsp1. メニュー「今日の天気」をクリックするとユーザーの都道府県の天気予報が表示されます。<BR>
<BR><p class="guide-sub">
・「管理者へ お問い合わせ」<BR></p>
  &nbsp1. クリックすると管理者へメールを送るフォームが表示されます。<BR>
<BR><p class="guide-sub">
④検索<BR></p>
  &nbsp1. TOPページの検索フォームには、投稿者、投稿タイトル、投稿文、タグといったキーワードで検索できます。<BR>
  &nbsp2. 検索結果は一覧で表示されます。<BR>
<BR>

  </div>
</div>

<%= render "shared/second-footer" %>