<%= render "shared/second-header" %>

<div class="guide-toppage">
     <%= render "shared/side_bar_hidden" %>

  <h1 class="guide-title">操作説明</h1>

  <div class="guide-wrap">

    ようこそ Sunflower-Garden へ<BR>
    このアプリは園芸の難しさを乗り越え、より楽しむことができるよう、Katsuyaが作成したオリジナルアプリです。<BR>
    園芸をもっともっと楽しめるものにするため、無料でご利用頂けます、ぜひご活用下さい!<BR>
    <BR>
    <p class="guide-sub">
    ①ユーザー登録、編集、削除<BR></p>
      &nbsp1. トップページの新規登録をクリックして必要な情報を登録すると、認証メールが届くので、クリックすると登録が完了します。<BR>
      &nbsp2. メールアドレスとパスワードを入力するとログインが可能です。<BR>
      &nbsp3. 新規登録時の情報変更や削除は右側サイドバーのメニュー上部、あなたのニックネームをクリックして編集画面から行えます。<BR>
    <BR>
      <p class="guide-sub">
    ②ログイン、ログアウト<BR></p>
      &nbsp1. トップページにログインの状態によって、ログインまたはログアウトが表示されています。<BR>
      &nbsp2. ログインしていなくても投稿の閲覧は可能ですが、ほとんどのメニューは利用できませんので新規登録しましょう。<BR>
      &nbsp3. パスワードを忘れてしまった場合は、登録したメールアドレスにリセットするためのリンクが送信されます。<BR>
    <BR>
      <p class="guide-sub">
    ③メニュー<BR></p>
    （スマホやタブレットにて、右サイドバーが隠れている場合は右上のMENUボタンをクリック）<BR>
    <p class="guide-sub2">
    【みんなの投稿 新規投稿】<BR></p>
        &nbsp1. クリックすると新規投稿フォームが表示されます。<BR>
        &nbsp2. 画像、タイトル、文章、タグを投稿することができます。<BR>
        &nbsp&nbsp&nbspタグはできるだけ3つ登録することで、他のユーザーに閲覧してもらいやすくなります。<BR>
        &nbsp3. 投稿が完了するとトップページに新しいもの順に表示されます。<BR>
    <BR>
    <p class="guide-sub3">
    ・投稿編集、コメント<BR></p>
        &nbsp1. 投稿画像をクリックすると、詳細ページが表示され、あなたの投稿であれば編集と削除ができます。<BR>
        &nbsp2. ログインしていれば、コメントすることができます。コメントするボタンをクリックするとその投稿にコメントができます。<BR>
        &nbsp3. あなたのコメントであればコメントを編集、削除ができます。<BR>
    <BR>
    <p class="guide-sub3">
    ・いいね機能<BR></p>
        &nbsp1. トップページや投稿詳細ページでいいねボタンを押すと、赤色に画像が変わりいいねカウントが増えます。<BR>
        &nbsp2. いいねを解除するには再度いいねボタンを押すとカウントが減ります。<BR>
    <BR>
    <p class="guide-sub3">
    ・ユーザー詳細、編集、フォロー<BR></p>
        &nbsp1. サイドバーのメニューにあるログイン中のユーザー名をクリックするとユーザー詳細ページが表示されます。<BR>
        &nbsp2. 投稿詳細ページで投稿者のニックネームをクリックしてもそのユーザー詳細ページが表示されます。<BR>
        &nbsp3. あなたがそのユーザーであれば登録情報を編集または削除（退会）ができます。<BR>
        &nbsp4. 「フォローする」をクリックすると閲覧しているユーザーをフォローをしたり、解除ができます。<BR>
    <BR>
    <p class="guide-sub2">
    【通知が届く マイカレンダー】<BR></p>
        &nbsp1. ログイン中であればクリックするとそのユーザーだけのカレンダーが表示されます。<BR>
        &nbsp2. 日時、タイトル、内容を入力して予定を作成でき、設定した時刻に登録されているアドレスにメールが届きます。<BR>
        &nbsp3. 「メール通知しない」にチェックすればメールは通知されません。<BR>
        &nbsp4. メールが着信する前であれば、予定の編集をすればメールの配信日時も再設定できます。<BR>
    <BR>
    <p class="guide-sub2">
    【成長を記録 写真日記】<BR></p>
      &nbsp1. ログイン中であればクリックするとそのユーザーだけの日記が表示されます。<BR>
      &nbsp2. 日時、写真、文章、カテゴリーを入力して投稿ができ、日時は過去未来自由に編集が可能です。<BR>
      &nbsp3. カテゴリーは植物の名前で登録すると、その植物だけで表示することができるなど、管理がしやすくなります。<BR>
      &nbsp4. カテゴリーはすでにあるものから選択したり、新たに作成でき、日記が新しいもの順に表示されます。<BR>
    <BR>
    <p class="guide-sub2">
    【今日は何の花の日？】<BR></p>
        &nbsp1. クリックすると今日の誕生花が表示されます。<BR>
        &nbsp2. 「詳しく調べる」リンクをクリックするとgoogle検索ページが表示されてより詳しい情報を知ることができます<BR>
        &nbsp3. 閲覧日以外にも翌日や７日前までの花も調べることができます。<BR>
    <BR>
    <p class="guide-sub2">
    【園芸日和 今日の天気】<BR></p>
        &nbsp1. ログイン中であれば、クリックするとあなたの都道府県の天気予報が表示されます。<BR>
    <BR>
    <p class="guide-sub2">
    【管理者へ お問い合わせ】<BR></p>
        &nbsp1. クリックすると管理者へメールを送るフォームが表示されます。<BR>
        &nbsp2. 3日以内にはフォームに入力されたメールアドレスに管理人より返信があります。<BR>
    <BR>
    <p class="guide-sub">
    ④検索<BR></p>
        &nbsp1. トップページの検索フォームには、投稿者、投稿タイトル、投稿文、タグといったキーワードで検索できます。<BR>
        &nbsp2. 検索結果は一覧で表示されます。画像をクリックすると投稿の詳細ページが表示されます。<BR>
    <BR>

  </div>
</div>

<%= render "shared/second-footer" %>