<div class= "user-area">

  <div class= "user-icon-area">
    <%= link_to image_tag("user-icon.png", class:"user-icon-img"), "/" %>
  </div>
  <div class= "user-wrapper">
    <div class= "user-name">はなこさん</div>
    <div class= "user-mypage-link">マイページ</div>
  </div>

  </div>


