<div class= "user-area">

  <div class= "user-icon-area">
    <div class= "user-icon-img">画像</div>
  </div>
  <div class= "user-wrapper">
    <div class= "user-name">はなこさん</div>
    <div class= "user-mypage-link">マイページ</div>
  </div>

  </div>


