.comment-wrap {
  width: 90%;
  border-radius: 3%;
  margin: auto;
}


.comment-header {
  text-align: center;
  font-size: 22px;
  margin-top: 50px;
}

.comment-header-text {
  font-size: 30px;
  font-weight: bold;
}

.comment-box {
  width: 80%;
  margin: 30px auto;
  text-align: left;
}

.comment-content {
background-color:antiquewhite;
border-radius: 10px;
margin: 1vw;
padding: 2vw;
width: 80%;
}


.comment-info {
  display: flex;

}

.comment-poster {
  font-size: 2vw;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
  text-align: end;
  align-self: flex-end; /* 自身を一番下に配置 */
}

.comment-date {
  font-size: 2vw;
  margin-left: 10px;
}

.comment-san {
  margin-left: 5px;
  font-size: 1.7vw;
}

.comment-icon-image {
  width: 2vw;
  margin: auto;
  margin-right: 10px;
  object-fit: cover; 
  border-radius: 50%;
  border: 1px solid black;
}

.comment-text {
  font-size: 2vw;
}

.comment-info {
  font-size: 2vw;
}

.comment-warn {
  padding: 10px;
  
  margin: 10px 0px;
  text-align: left;
}

.comment-actions {
  display: flex;
  align-items: center;
}

.comment-btn {
  background-color:darkorange;
  width: 220px;
  height: 60px;
  display: flex; /* 追加 */
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  border:none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  width: 30px;
  height: 35px;
  margin-right: 10px;
}