.comment-wrap {
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  background-color:antiquewhite;
  padding-top: 20px;
  padding-bottom: 20px;
}

.comment-header {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color:green;
  margin-bottom: 10px;
  padding-top: 10px;
}

.comment-header-text {
  font-size: 30px;
  font-weight: bold;
}

.comment-box {
  width: 80%;
  margin: 30px auto;
  text-align: left;
}

.comment-contents {
  background-color:#e0ebaf;
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.comment-content {
  background-color:white;
  border-radius: 10px;
  width: 100%;
  padding: 1px 20px 10px;
  margin: 10px;
}

.comment-info {
  display: flex;
}

.comment-poster {
  font-size: 20px;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
  text-align: end;
  align-self: flex-end;
}

.comment-date {
  font-size: 15px;
  margin-left: 0.8vw;
  margin-right: 0.8vw;
}

.comment-san {
  margin-left: 8px;
  font-size: 10px;
}

.comment-icon-image {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-right: 10px;
  object-fit: cover; 
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 5px;
}

.comment-noicon-image {
  width: 50px;
  height: 50px;
  margin: auto;
  margin-right: 10px;
  object-fit: cover; 
  border-radius: 50%;
  margin-left: 5px;
}

.comment-text {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.comment-info {
  font-size: 2vw;
}

.comment-warn {
  padding: 10px;
  margin: 10px 0px;
  text-align: left;
}

.comment-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-btn {
  background-color:#e0ebaf;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  border-width: 1px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.comment-count-icon {
  width: 4vw;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.comment-count-sum {
  font-size: 1.5vw;
  position: absolute; /* 追加 */
  transform: translate(160%, 50%);
  z-index: 1; /* 任意の値。他の要素よりも大きな値に設定すると、要素が前面に表示されます。 */
}

/* 幅狭小表示時 */
@media (max-width: 770px) {

.comment-wrap {
  width: 90%;
}

.comment-count-icon {
  width: 12vw;
  margin-left: 30px;
  margin-right: 10px;
  position: relative;
}

.comment-count-sum {
  font-size: 4vw;
  transform: translate(180%, 60%);
}
}


/* スマホ表示時 */
@media (max-width: 490px) {

  .comment-header {
    font-size: 16px;
  }

  .comment-poster {
    font-size: 15px;
    margin-right: 1px;
  }

  .comment-date {
    font-size: 10px;
  }

  .comment-san {
    margin-left: 1px;
    font-size: 8px;
  }

  .comment-icon-image {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 1px;
  }

  .comment-noicon-image {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 1px;
  }

}