.comment-wrap {
  width: 90%;
  border-radius: 3%;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  background-color:antiquewhite;
}

.comment-header {
  text-align: center;
  font-size: 22px;
  
}

.comment-header-text {
  font-size: 30px;
  font-weight: bold;
}

.comment-box {
  width: 80%;
  margin: 30px auto;
  text-align: left;
}

.comment-content {
  background-color:white;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;

  
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: 95%;
}

.comment-info {
  display: flex;
}

.comment-poster {
  font-size: 1.7vw;
  margin-right: 10px;
  display: flex;
  align-items: flex-end;
  text-align: end;
  align-self: flex-end;
}

.comment-date {
  font-size: 1.5vw;
  margin-left: 10px;
}

.comment-san {
  margin-left: 5px;
  font-size: 1vw;
}

.comment-icon-image {
  width: 2.5vw;
  margin: auto;
  margin-right: 10px;
  object-fit: cover; 
  border-radius: 50%;
  border: 1px solid black;
}

.comment-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.comment-info {
  font-size: 2vw;
}

.comment-warn {
  padding: 10px;
  
  margin: 10px 0px;
  text-align: left;
}

.comment-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.comment-btn {
  background-color:darkorange;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  border:none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}