.index-bg {
  background-color:seagreen;
}

.wrapper {
  display: flex;
}

.main-index {
  background-color:lightgreen;
  width: calc(70%);
  height: 1000px;
}

.side-bar {
  background-color:lemonchiffon;
  width: calc(30%);
  height: 100vh;
  height: 1000px;
}

