.index-bg {
  background-color: #e0ebaf;
}

.wrapper {
  display: flex;
}

.main-index {
  background-color: #e0ebaf;
  width: calc(70%);
  height: 1200px;
  overflow: scroll;
  position: relative;
}

.side-bar {
  background-color:lemonchiffon;
  width: calc(30%);
  height: 1200px;
}

.side-bar-hidden {
  display: none;
}

.main-title {
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .main-index {
    height: 800px;
  }
  
  .side-bar {
    height: 800px;
  }

  .main-title {
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
  }
}


/* 幅狭小表示時 */
@media (max-width: 770px) {
  .main-index {
    height: 1000px;
    width: 100vw;
    margin-left: 0; /* サイドバーの幅分のマージンを除去 */
  }
  
  .side-bar {
    display: none;
  }

  .side-bar-hidden {
    height: 1000px;
    width: calc(30%);
  }

  .main-title {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
  }

}

/* スマホ表示時 */
@media (max-width: 490px) {
  .main-index {
    height: 750px;
  }
  
  .side-bar-hidden {
    height: 520px;
  }

  .main-title {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }

}


/* 最小スマホ表示時 */
@media (max-width: 370px) {
  .main-index {
    height: 600px;
  }
  
  .side-bar-hidden {
    height: 500px;
  }

  .main-title {
    
    text-align: center;
    margin-top: 8px;
  }

}

