.post-form {
  width: 80%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.caution {
  text-align: center;
  color: red;
  margin-top: 30px;
}

.post-form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.post-form-text-wrap {
  width: 100%;
  height: 20%;
}

.field_with_errors {
  display: contents;
}

.post-btn {
  margin: 0 auto;
  text-align:center;
}

.post-green-btn {
  width: 160px;
  background-color: green;
  border: 1px solid green;
  color: #fff;
  line-height: 48px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  display: block;
}


/* TOPページ */

.post-area {
  display: flex;
  flex-wrap: wrap;
}

.post-contents {
  background-color: white;
  border-radius: 2%;
  width: 47%;
  height: 590px;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  align-items: flex-end;
}

.post-img {
  width: 90%;
  height: 300px;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  margin: auto;
}

.post-title {
  padding-left: 30px;
  padding-top: 10px;
  text-decoration: underline;
  font-size: 22px;
}

.post-text {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  margin-bottom: 20px;
  height: 160px;
  flex-grow: 1; /* 余白を埋めるために成長 */
  overflow: hidden; /* はみ出したコンテンツを隠す */
  text-overflow: ellipsis; /* はみ出したコンテンツを省略記号で表示 */
}

.post-info {
  display: flex;
  justify-content:flex-end;
}

.post-poster {
  font-size: 1.5vw;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
  text-align:end;
  align-self: flex-end; /* 自身を一番下に配置 */
}

.post-date {
  font-size: 1.2vw;
  margin-left: 20px;
}

.post-san {
  margin-left: 5px;
  font-size: 1vw;
}

.post-icon-image {
  width: 3vw;
  margin: auto;
  margin-right: 10px;
  object-fit: cover; 
  border-radius: 50%;
  border: 1px solid black;
}

.iine-area {
  display: flex;
  align-items: flex-end;
}

.iine-icon-image {
  width: 3vw;
  margin: auto;
  margin-left: 10px;
  object-fit: cover; 
}

.iine-count {
  font-size: 1.2vw;
}


/* 幅狭小表示時 */
@media (max-width: 770px) {

  .search-result-area {
    background-color: antiquewhite;
    width: 70%;
    margin: auto;
  }

  .search-result-text {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }

  .post-area {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    }

  .post-contents {
    width: 95%;
    height: 95%;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .post-title {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
  }

  .post-text {
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .post-poster {
    margin-right: 15px;
    font-size: 3vw;
  }

  .post-date {
    margin-left: 15px;
    font-size: 2.4vw;
  }

  .post-san {
    margin-left: 5px;
    font-size: 2vw;
  }

  .post-icon-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .iine-icon-image {
    width: 30px;
    margin-left: 8px;
  }

  .iine-count {
    font-size: 12px;
   }
}


/* スマホ表示時 */
@media (max-width: 490px) {

  .post-contents {
    width: 95%;
    padding-top: 8px;
  }
  
  .post-img {
    width: 95%;
    height: 300px;
  }

  .post-title {
    padding-left: 15px;
    padding-top: 8px;
    font-size: 18px;
  }

  .post-text {
    padding-left: 10px;
    padding-top: 8px;
    padding-right: 10px;
    margin-bottom: 15px;
    font-size: 16px;
  }

  .post-poster {
    margin-right: 10px;
  }

  .post-date {
    margin-left: 10px;
  }

  .post-san {
    margin-left: 5px;
  }

  .post-icon-image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .iine-icon-image {
    width: 20px;
    margin-left: 5px;
  }

  .iine-count {
    font-size: 8px;
   }
}


/* スマホ表示時 */
@media (max-width: 360px) {

  .post-title {
    font-size: 16px;
  }

  .post-text {
    font-size: 15px;
  }

  .post-poster {
    font-size: 12px;
  }
}