.post-form {
  width: 80%;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.caution {
  text-align: center;
  color: red;
  margin-top: 30px;
}

.post-form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.post-form-text-wrap {
  width: 100%;
  height: 20%;
}

.field_with_errors {
  display: contents;
}

.post-btn {
  width: 50%;
  margin: 0 auto;
}

.post-green-btn {
  width: 100%;
  background-color:green;
  border: 1px solid green;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}


/* TOPページ */

.post-area {
  padding-bottom: 20px;
}

.post-contents {
  background-color: white;
  border-radius: 2%;
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-img {
  width: 90%;
  height: 90%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  margin: auto;
}

.post-title {
  padding-left: 30px;
  padding-top: 20px;
  text-decoration: underline;
  font-size: 30px;
}

.post-text {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.post-info {
  display: flex;
  justify-content:flex-end;
}

.post-poster {
  font-size: 25px;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
}

.post-date {
  font-size: 20px;
  margin-left: 20px;
}

.post-san {
  margin-left: 5px;
  font-size: 20px;
}

.post-icon-image {
  width: 50px;
  height: 50px;
  margin: auto;
  margin-right: 10px;
  object-fit: cover; 
  border-radius: 50%;
  border: 1px solid black;
}

.iine-area {
  display: flex;
  align-items: flex-end;
}

.iine-icon-image {
  width: 50px;
  margin: auto;
  margin-left: 10px;
  object-fit: cover; 
}

.iine-count {
  font-size: 20px;
}

.search-result-area {
  background-color: antiquewhite;
  width: 70%;
  margin: auto;
}

.search-result-text {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}


/* 幅狭小表示時 */
@media (max-width: 770px) {

  .search-result-area {
    background-color: antiquewhite;
    width: 70%;
    margin: auto;
  }

  .search-result-text {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }

  .post-area {
    padding-bottom: 10px;
  }

  .post-contents {
    width: 95%;
    height: 95%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .post-img {
    width: 95%;
    height: 95%;
  }

  .post-title {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
  }

  .post-text {
    font-size: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    margin-bottom: 15px;
  }

  .post-poster {
    font-size: 15px;
    margin-right: 15px;
  }

  .post-date {
    font-size: 12px;
    margin-left: 15px;
  }

  .post-san {
    margin-left: 5px;
    font-size: 12px;
  }

  .post-icon-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .iine-icon-image {
    width: 30px;
    margin-left: 8px;
  }

  .iine-count {
    font-size: 12px;
   }
}


/* スマホ表示時 */
@media (max-width: 490px) {

  .post-title {
    padding-left: 15px;
    padding-top: 8px;
    font-size: 13px;
  }

  .post-text {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
    padding-right: 10px;
    margin-bottom: 15px;
  }

  .post-poster {
    font-size: 12px;
    margin-right: 10px;
  }

  .post-date {
    font-size: 8px;
    margin-left: 10px;
  }

  .post-san {
    margin-left: 5px;
    font-size: 8px;
  }

  .post-icon-image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .iine-icon-image {
    width: 20px;
    margin-left: 5px;
  }

  .iine-count {
    font-size: 8px;
   }
}

