.post-show-wrap {
  background-color: antiquewhite;
  width: 70%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-show-content {
  background-color: white;
  border-radius: 2%;
  width: 95%;
  margin: auto;
  padding-top: 20px;
  align-items: flex-end;
  padding-bottom: 20px;
}

.post-show-img {
  width: 99%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  margin: auto;
}

.post-show-title {
  padding-left: 30px;
  padding-top: 20px;
  text-decoration: underline;
  font-size: 25px;
}

.post-show-text {
  font-size: 22px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.post-show-info {
  display: flex;
  justify-content:flex-end;
}

.post-show-poster {
  font-size: 2vw;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
  text-align: end;
  align-self: flex-end; /* 自身を一番下に配置 */
}

.post-show-date {
  font-size: 2vw;
  margin-left: 20px;
}

.post-show-san {
  margin-left: 10px;
  font-size: 1.5vw;
}

.post-show-icon-image {
  width: 5vw;
  margin: auto;
  margin-right: 10px;
  object-fit: cover; 
  border-radius: 50%;
  border: 1px solid black;
}

.show-iine-area {
  display: flex;
  align-items: flex-end;
}

.show-iine-icon-image {
  width: 5vw;
  margin: auto;
  margin-left: 3vw;
  object-fit: cover; 
}

.show-iine-count {
  font-size: 2vw;
}


/* 幅狭小表示時 */
@media (max-width: 770px) {

  .post-show-title {
    font-size: 20px;
  }
  
  .post-show-text {
    font-size: 18px;
  }
  
}


/* スマホ表示時 */
@media (max-width: 490px) {

  .post-show-title {
    font-size: 16px;
  }
  
  .post-show-text {
    font-size: 14px;
  }
}