.post-show-wrap {
  background-color: antiquewhite;
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.post-show-content {
  background-color: white;
  border-radius: 10px;
  width: 95%;
  margin: auto;
  padding-top: 20px;
  align-items: flex-end;
  padding-bottom: 20px;
}

.post-show-img {
  width: 99%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  margin: auto;
}

.post-show-title {
  padding-left: 30px;
  padding-top: 20px;
  text-decoration: underline;
  font-size: 25px;
}

.post-show-text {
  font-size: 22px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.post-show-poster-user {
  font-size: 2.5vw;
  margin-right: 20px;
  display:flex;
}

.post-show-poster-wrap {
  font-size: 1.5vw;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  justify-content: flex-end; 
}

.post-show-date {
  font-size: 2vw;
  margin-left: 1vw;
  justify-items: left;
  align-items: flex-end;
  align-self: flex-end;
}

.post-show-san {
  margin-left: 5px;
  font-size: 1.5vw;
  align-items: flex-end;
  align-self: flex-end;
}

.post-show-icon-image {
  width: 5vw;
  margin: auto;
  margin-right: 10px;
  object-fit: cover; 
  border-radius: 50%;
  border: 1px solid black;
}

.show-iine-area {
  display: flex;
  align-items: flex-end;
}

.show-iine-icon-image {
  width: 5vw;
  object-fit: cover; 
}

.show-iine-count {
  font-size: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
}


/* 幅狭小表示時 */
@media (max-width: 770px) {

  .post-show-wrap {
    width: 90%;
  }

  .post-show-title {
    font-size: 20px;
  }
  
  .post-show-text {
    font-size: 18px;
  }

  .post-show-poster-user {
    font-size: 3vw;
  }

  .post-show-poster-wrap {
    font-size: 3vw;
  }

  .post-show-date {
    font-size: 2vw;
  }

  .post-show-san {
    font-size: 2vw;
  }

  .post-show-icon-image {
    width: 8vw;
  }

  .show-iine-icon-image {
    width: 8vw;
    }

  .show-iine-count {
    font-size: 3vw;
  }
}


/* 幅狭小表示時 */
@media (max-width: 490px) {

  .post-show-wrap {
    width: 100%;
  }

  .post-show-poster-user {
    font-size: 4vw;
  }

  .post-show-date {
    font-size: 3vw;
    margin-left: 2vw;
  }

  .post-show-san {
    font-size: 2vw;
    margin-left: 1vw;
  }

  .post-show-icon-image {
    width: 9vw;
  }

  .show-iine-icon-image {
    width: 9vw;
  }

  .show-iine-count {
    font-size: 3vw;
  }
}